<html>
  <body>
    <p>
      Hola <%= user.firstName %>, a continuación te dejamos el link para poder
      activar tu cuenta
    </p>
    <br />
    <a href="<%=link%>"><%=link%></a>
    <br />
    <p>
      Si no has solicitado recuperar tu contraseña, por favor ignora este
      correo.
    </p>
  </body>
</html>
